.qodo
persona.md
/archive
backend_setup_design.md
frontend_setup_design.md
context.md
journal_refactor.md
testing_templates.md
/note_images

## IntelliJ Stuff ##
.idea/

## Mac Stuff ##
.DS_Store
data/

# Ignore local database volumes
postgres-data/