.qodo
persona.md
/archive
qa-gen-backend/__context__/backend_setup_design.md
qa-gen-backend/__context__/frontend_setup_design.md
qa-gen-backend/__context__/context.md
qa-gen-backend/__context__/journal_refactor.md
qa-gen-backend/__context__/testing_template_SIMPLE.md
qa-gen-backend/__context__/testing_template_COMPLEX.md
/note_images

## IntelliJ Stuff ##
.idea/

## Mac Stuff ##
.DS_Store
data/

# Ignore local database volumes
postgres-data/